################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/RepartitionWinForms/obj/Debug
/RepartitionWinForms.Business/obj/Debug
/RepartitionWinForms.Entities/obj/Debug
/.vs/RepartitionWinForms/v16
/RepartitionWinForms/bin/Debug
/RepartitionWinForms.Business/bin/Debug
/RepartitionWinForms.Entities/bin/Debug
/RepartitionWinForms/bin/Release
/RepartitionWinForms/obj/Release
/RepartitionWinForms.Business/bin/Release
/RepartitionWinForms.Business/obj/Release
/RepartitionWinForms.Entities/bin/Release
/RepartitionWinForms.Entities/obj/Release
